<!--
  Generated template for the RegristrarsePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Regristrarse</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form ng-submit="onsubmit()"   [formGroup]="formgroup">
    <ion-list >
        <h4 style="color:#000000;font-weight:600;text-align:center;">Ingresa todos los datos: </h4>
        
                    
    <!--
        <ion-item>
            <ion-label  floating>Usuario</ion-label>
            <ion-input type="text" formControlName="Usuario"></ion-input>
          </ion-item>
          <ion-item *ngIf="Usuario.hasError('required') && Usuario.touched">
              <p>*usuario requerido </p>
          </ion-item>-->
      <ion-item>
        <ion-label  floating>Correo electronico</ion-label>
        <ion-input type="text" formControlName="email" #Usuario></ion-input>
      </ion-item>
<!--
      <ion-item *ngIf="Usuario.hasError('required') && Usuario.touched">
          <p>*email requerido </p>
      </ion-item>
-->
            <ion-item>
              <!--
SE DEBE VALIDAR QUE SEAN MINIMO 6 CARACTERES
-->
  <ion-label floating>Contraseña</ion-label>
   <ion-input type="password"  #Contrasena ></ion-input>
            </ion-item>
<!--
            <ion-item *ngIf="Usuario.hasError('required') && Usuario.touched">
                <p>*Contraseña requerida </p>
            </ion-item>
-->
            <ion-item>
  <ion-label floating>Repetir Contraseña</ion-label>
   <ion-input type="password"   #Contrasena2></ion-input>
             </ion-item>
<!--
             <ion-item *ngIf="Usuario.hasError('required') && Usuario.touched">
                <p>*repetir contraseña requerido </p>
            </ion-item>
       -->
        </ion-list>
     
        <div padding>
            <button ion-button block outline type="submit" (click)="registerUser()" >Continuar</button>
        </div>
         </form>
        <h6 style="color:#000000;font-weight:600;text-align:center;">Tambien puedes ingresar a traves de : </h6>
      
        

        <!-- Float the icon left -->
<button ion-button icon-left inline (click)="loginWithGoogle()" *ngIf ="!provider.loggedin">
    <ion-icon ios="logo-googleplus" md="logo-googleplus"></ion-icon>
    Google+
  </button>



  
  <!-- Float the icon right -->
  <button ion-button icon-left inline (click)="loginWithTwitter()" *ngIf ="!provider.loggedin">
    Twitter
    <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
  </button>
  





  <button ion-button inline (click)="loginWithFacebook()" *ngIf ="!provider.loggedin"><ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
    Facebook</button>
    
    <ion-card  *ngIf ="provider.loggedin">   
        <img src="{{ provider.profilePicture }}"/>
        <ion-card-content>
          <ion-card-title>
           {{ provider.name }}
            </ion-card-title>
          <p style="text-align: center">
       {{provider.email }}
          </p>
        </ion-card-content>
      </ion-card>




    <button ion-button inline (click)="logout()" *ngIf ="provider.loggedin"><ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
     salir </button>
    
    
    
    
    <!--
  <ion-card *ngIf="userData" >
    <ion-card-header>{{ userData.username }}</ion-card-header>
    <img [src]="userData.picture">
    <ion-card-content>
      <p> Email: {{ userData.email }} </p>
      <p> First Name: {{ userData.first_name }} </p>
    </ion-card-content>
  </ion-card> -->


  <!-- Only icon (no text) -->
  <!--<button ion-button icon-left   inline (click)="loginwithFB()" >
    <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
    Facebook
  </button>
  <ion-card *ngIf="userData" >
      <ion-card-header>{{userData.username }}</ion-card-header>

  </ion-card>-->



  
</ion-content>
